In [10]:
df.columns

Index(['Diffusion des données', 'Région', 'Académie', 'Établissement',
       'Établissement actuel', 'Type de diplôme', 'Domaine disciplinaire',
       'Discipline', 'Secteur disciplinaire', 'Libellé du diplôme',
       'Source de données', 'Nombre de poursuivants', 'Nombre de sortants',
       'Année(s) d'obtention du diplôme prise(s) en compte',
       'Date d'insertion en emploi', 'Flag', 'Exception',
       'Taux d'emploi salarié en France', 'Taux d'insertion', 'Taux d'emploi',
       'Code de la région', 'Code de l'académie',
       'Identifiant interne de l'établissement',
       'Identifiant interne de l'établissement actuel',
       'Code UAI de l'établissement', 'type_diplome',
       'Code du domaine disciplinaire', 'Code de la discipline',
       'Code du secteur disciplinaire', 'Code du diplôme SISE',
       'Mois après la diplomation'],
      dtype='object')

In [11]:
df.describe

<bound method NDFrame.describe of       Diffusion des données                      Région Académie  \
0                   2023_S2                         NaN      NaN
1                   2023_S2                         NaN      NaN
2                   2023_S2                         NaN      NaN
3                   2023_S2                         NaN      NaN
4                   2023_S2                         NaN      NaN
...                     ...                         ...      ...
45865               2023_S2  Provence-Alpes-Côte d'Azur     Nice
45866               2023_S2  Provence-Alpes-Côte d'Azur     Nice
45867               2023_S2  Provence-Alpes-Côte d'Azur     Nice
45868               2023_S2  Provence-Alpes-Côte d'Azur     Nice
45869               2023_S2  Provence-Alpes-Côte d'Azur     Nice

                Établissement    Établissement actuel  \
0                    National                National
1                    National                National
2                    National                National
3                    National                National
4                    National                National
...                       ...                     ...
45865  Université Côte d'Azur  Université Côte d'Azur
45866  Université Côte d'Azur  Université Côte d'Azur
45867  Université Côte d'Azur  Université Côte d'Azur
45868  Université Côte d'Azur  Université Côte d'Azur
45869  Université Côte d'Azur  Université Côte d'Azur

               Type de diplôme          Domaine disciplinaire  \
0      Licence professionnelle   Tous domaines disciplinaires
1                   Master LMD   Tous domaines disciplinaires
2                  Master MEEF   Tous domaines disciplinaires
3                   Master LMD   Tous domaines disciplinaires
4                  Master MEEF   Tous domaines disciplinaires
...                        ...                            ...
45865  Licence professionnelle  Sciences, technologies, santé
45866  Licence professionnelle  Sciences, technologies, santé
45867  Licence professionnelle  Sciences humaines et sociales
45868  Licence professionnelle       Droit, économie, gestion
45869  Licence professionnelle       Droit, économie, gestion

                                   Discipline  \
0                          Toutes disciplines
1                          Toutes disciplines
2                          Toutes disciplines
3                          Toutes disciplines
4                          Toutes disciplines
...                                       ...
45865  Sciences fondamentales et applications
45866  Sciences fondamentales et applications
45867           Sciences humaines et sociales
45868           Sciences économiques, gestion
45869           Sciences économiques, gestion

                               Secteur disciplinaire  \
0                       Tous secteurs disciplinaires
1                       Tous secteurs disciplinaires
2                       Tous secteurs disciplinaires
3                       Tous secteurs disciplinaires
4                       Tous secteurs disciplinaires
...                                              ...
45865                                   Informatique
45866                                   Informatique
45867  Sciences de l'information et la communication
45868                            Sciences de gestion
45869                            Sciences de gestion

                                      Libellé du diplôme  ...  \
0                          Toute licence professionnelle  ...
1                                        Tout Master LMD  ...
2                                       Tout Master MEEF  ...
3                                        Tout Master LMD  ...
4                                       Tout Master MEEF  ...
...                                                  ...  ...
45865  METIERS DE L'INFORMATIQUE : SYSTEMES D'INFORMA...  ...
45866  METIERS DE L'INFORMATIQUE : CONCEPTION, DEVELO...  ...
45867  METIERS DE L'INFORMATION : METIERS DU JOURNALI...  ...
45868  METIERS DE L'IMMOBILIER : GESTION ET DEVELOPPE...  ...
45869  METIERS DE L'IMMOBILIER : GESTION ET DEVELOPPE...  ...

      Code de l'académie Identifiant interne de l'établissement  \
0                    NaN                                   UNIV
1                    NaN                                   UNIV
2                    NaN                                   UNIV
3                    NaN                                   UNIV
4                    NaN                                   UNIV
...                  ...                                    ...
45865                A23                                  s3t8T
45866                A23                                  s3t8T
45867                A23                                  s3t8T
45868                A23                                  s3t8T
45869                A23                                  s3t8T

      Identifiant interne de l'établissement actuel  \
0                                              UNIV
1                                              UNIV
2                                              UNIV
3                                              UNIV
4                                              UNIV
...                                             ...
45865                                         s3t8T
45866                                         s3t8T
45867                                         s3t8T
45868                                         s3t8T
45869                                         s3t8T

      Code UAI de l'établissement type_diplome Code du domaine disciplinaire  \
0                            UNIV  licence_pro                           all
1                            UNIV   master_LMD                           all
2                            UNIV  master_MEEF                           all
3                            UNIV   master_LMD                           all
4                            UNIV  master_MEEF                           all
...                           ...          ...                           ...
45865                    0062205P  licence_pro                           STS
45866                    0062205P  licence_pro                           STS
45867                    0062205P  licence_pro                           SHS
45868                    0062205P  licence_pro                           DEG
45869                    0062205P  licence_pro                           DEG

      Code de la discipline Code du secteur disciplinaire  \
0                       all                           all
1                       all                           all
2                       all                           all
3                       all                           all
4                       all                           all
...                     ...                           ...
45865                    15                            14
45866                    15                            14
45867                    06                            35
45868                    02                            39
45869                    02                            39

      Code du diplôme SISE Mois après la diplomation
0                      all                         6
1                      all                         6
2                      all                         6
3                      all                        18
4                      all                        30
...                    ...                       ...
45865              2400132                        30
45866              2400130                         6
45867              2400127                        18
45868              2400114                        24
45869              2400114                        30

[45870 rows x 31 columns]>

# Projet Fil Rouge
### Nom, Prénom, Année

## Data Cleaning

In [2]:
import pandas as pd

In [8]:
df.describe()

       Mois après la diplomation
count               45870.000000
mean                   17.376978
std                     8.246734
min                     6.000000
25%                    12.000000
50%                    18.000000
75%                    24.000000
max                    30.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45870 entries, 0 to 45869
Data columns (total 31 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Diffusion des données                               45870 non-null  object
 1   Région                                              45840 non-null  object
 2   Académie                                            45840 non-null  object
 3   Établissement                                       45870 non-null  object
 4   Établissement actuel                                45870 non-null  object
 5   Type de diplôme                                     45870 non-null  object
 6   Domaine disciplinaire                               45870 non-null  object
 7   Discipline                                          45870 non-null  object
 8   Secteur disciplinaire                               45870 non-null  object
 9   Libellé du diplôme                                  45870 non-null  object
 10  Source de données                                   45870 non-null  object
 11  Nombre de poursuivants                              45870 non-null  object
 12  Nombre de sortants                                  45870 non-null  object
 13  Année(s) d'obtention du diplôme prise(s) en compte  45870 non-null  object
 14  Date d'insertion en emploi                          45870 non-null  object
 15  Flag                                                31903 non-null  object
 16  Exception                                           31903 non-null  object
 17  Taux d'emploi salarié en France                     45870 non-null  object
 18  Taux d'insertion                                    45870 non-null  object
 19  Taux d'emploi                                       45870 non-null  object
 20  Code de la région                                   45840 non-null  object
 21  Code de l'académie                                  45840 non-null  object
 22  Identifiant interne de l'établissement              45870 non-null  object
 23  Identifiant interne de l'établissement actuel       45870 non-null  object
 24  Code UAI de l'établissement                         45870 non-null  object
 25  type_diplome                                        45870 non-null  object
 26  Code du domaine disciplinaire                       45870 non-null  object
 27  Code de la discipline                               45870 non-null  object
 28  Code du secteur disciplinaire                       45870 non-null  object
 29  Code du diplôme SISE                                45870 non-null  object
 30  Mois après la diplomation                           45870 non-null  int64
dtypes: int64(1), object(30)
memory usage: 10.8+ MB

In [5]:
df= pd.read_csv("fr-esr-insersup.csv",sep=";")

In [ ]:
# Ici, vous réaliserez le cleaning de votre jeu de données

In [6]:
df.head()

,Diffusion des données,Région,Académie,Établissement,Établissement actuel,Type de diplôme,Domaine disciplinaire,Discipline,Secteur disciplinaire,Libellé du diplôme,...,Code de l'académie,Identifiant interne de l'établissement,Identifiant interne de l'établissement actuel,Code UAI de l'établissement,type_diplome,Code du domaine disciplinaire,Code de la discipline,Code du secteur disciplinaire,Code du diplôme SISE,Mois après la diplomation
0,2023_S2,NaN,NaN,National,National,Licence professionnelle,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Toute licence professionnelle,...,NaN,UNIV,UNIV,UNIV,licence_pro,all,all,all,all,6
1,2023_S2,NaN,NaN,National,National,Master LMD,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master LMD,...,NaN,UNIV,UNIV,UNIV,master_LMD,all,all,all,all,6
2,2023_S2,NaN,NaN,National,National,Master MEEF,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master MEEF,...,NaN,UNIV,UNIV,UNIV,master_MEEF,all,all,all,all,6
3,2023_S2,NaN,NaN,National,National,Master LMD,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master LMD,...,NaN,UNIV,UNIV,UNIV,master_LMD,all,all,all,all,18
4,2023_S2,NaN,NaN,National,National,Master MEEF,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master MEEF,...,NaN,UNIV,UNIV,UNIV,master_MEEF,all,all,all,all,30

## Data Visualisation
Ici, vous réaliserez vos observations, créerez vos graphes dans un premier temps. Une fois qu'ils seront fait, ils seront à intégrer à votre application Streamlit. Considérez donc cet espace comme un bac à sable avant de vous lancer dans le développement de l'application de Data Visualisation.

In [ ]:
# Ici, vous réaliserez la visualisation de votre jeu de données