In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
#lecture du fichier  fr-esr-insersup
csv_file = "fr-esr-insersup.csv"
df = pd.read_csv(csv_file,sep=';')

In [4]:
#analyse du fichier insertion_professionnelle_master_donnees
print(df.shape)

(45870, 31)

In [5]:
df.describe()

       Mois après la diplomation
count               45870.000000
mean                   17.376978
std                     8.246734
min                     6.000000
25%                    12.000000
50%                    18.000000
75%                    24.000000
max                    30.000000

In [6]:
df.columns

Index(['Diffusion des données', 'Région', 'Académie', 'Établissement',
       'Établissement actuel', 'Type de diplôme', 'Domaine disciplinaire',
       'Discipline', 'Secteur disciplinaire', 'Libellé du diplôme',
       'Source de données', 'Nombre de poursuivants', 'Nombre de sortants',
       'Année(s) d'obtention du diplôme prise(s) en compte',
       'Date d'insertion en emploi', 'Flag', 'Exception',
       'Taux d'emploi salarié en France', 'Taux d'insertion', 'Taux d'emploi',
       'Code de la région', 'Code de l'académie',
       'Identifiant interne de l'établissement',
       'Identifiant interne de l'établissement actuel',
       'Code UAI de l'établissement', 'type_diplome',
       'Code du domaine disciplinaire', 'Code de la discipline',
       'Code du secteur disciplinaire', 'Code du diplôme SISE',
       'Mois après la diplomation'],
      dtype='object')

In [7]:
# Identification des colonnes non nulles et de leur type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45870 entries, 0 to 45869
Data columns (total 31 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Diffusion des données                               45870 non-null  object
 1   Région                                              45840 non-null  object
 2   Académie                                            45840 non-null  object
 3   Établissement                                       45870 non-null  object
 4   Établissement actuel                                45870 non-null  object
 5   Type de diplôme                                     45870 non-null  object
 6   Domaine disciplinaire                               45870 non-null  object
 7   Discipline                                          45870 non-null  object
 8   Secteur disciplinaire                               45870 non-null  object
 9   Libellé du diplôme                                  45870 non-null  object
 10  Source de données                                   45870 non-null  object
 11  Nombre de poursuivants                              45870 non-null  object
 12  Nombre de sortants                                  45870 non-null  object
 13  Année(s) d'obtention du diplôme prise(s) en compte  45870 non-null  object
 14  Date d'insertion en emploi                          45870 non-null  object
 15  Flag                                                31903 non-null  object
 16  Exception                                           31903 non-null  object
 17  Taux d'emploi salarié en France                     45870 non-null  object
 18  Taux d'insertion                                    45870 non-null  object
 19  Taux d'emploi                                       45870 non-null  object
 20  Code de la région                                   45840 non-null  object
 21  Code de l'académie                                  45840 non-null  object
 22  Identifiant interne de l'établissement              45870 non-null  object
 23  Identifiant interne de l'établissement actuel       45870 non-null  object
 24  Code UAI de l'établissement                         45870 non-null  object
 25  type_diplome                                        45870 non-null  object
 26  Code du domaine disciplinaire                       45870 non-null  object
 27  Code de la discipline                               45870 non-null  object
 28  Code du secteur disciplinaire                       45870 non-null  object
 29  Code du diplôme SISE                                45870 non-null  object
 30  Mois après la diplomation                           45870 non-null  int64
dtypes: int64(1), object(30)
memory usage: 10.8+ MB

In [8]:
df.head(10)

,Diffusion des données,Région,Académie,Établissement,Établissement actuel,Type de diplôme,Domaine disciplinaire,Discipline,Secteur disciplinaire,Libellé du diplôme,...,Code de l'académie,Identifiant interne de l'établissement,Identifiant interne de l'établissement actuel,Code UAI de l'établissement,type_diplome,Code du domaine disciplinaire,Code de la discipline,Code du secteur disciplinaire,Code du diplôme SISE,Mois après la diplomation
0,2023_S2,NaN,NaN,National,National,Licence professionnelle,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Toute licence professionnelle,...,NaN,UNIV,UNIV,UNIV,licence_pro,all,all,all,all,6
1,2023_S2,NaN,NaN,National,National,Master LMD,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master LMD,...,NaN,UNIV,UNIV,UNIV,master_LMD,all,all,all,all,6
2,2023_S2,NaN,NaN,National,National,Master MEEF,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master MEEF,...,NaN,UNIV,UNIV,UNIV,master_MEEF,all,all,all,all,6
3,2023_S2,NaN,NaN,National,National,Master LMD,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master LMD,...,NaN,UNIV,UNIV,UNIV,master_LMD,all,all,all,all,18
4,2023_S2,NaN,NaN,National,National,Master MEEF,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master MEEF,...,NaN,UNIV,UNIV,UNIV,master_MEEF,all,all,all,all,30
5,2023_S2,Mayotte,Mayotte,Université de Mayotte,Université de Mayotte,Licence professionnelle,"Droit, économie, gestion","Sciences économiques, gestion",Sciences de gestion,MANAGEMENT ET GESTION DES ORGANISATIONS,...,A43,pVJpw,pVJpw,9760358K,licence_pro,DEG,02,39,2400074,30
6,2023_S2,La Réunion,La Réunion,Université de La Réunion,Université de La Réunion,Master LMD,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master LMD,...,A28,cEt92,cEt92,9740478B,master_LMD,all,all,all,all,6
7,2023_S2,La Réunion,La Réunion,Université de La Réunion,Université de La Réunion,Master MEEF,Tous domaines disciplinaires,Toutes disciplines,Tous secteurs disciplinaires,Tout Master MEEF,...,A28,cEt92,cEt92,9740478B,master_MEEF,all,all,all,all,12
8,2023_S2,La Réunion,La Réunion,Université de La Réunion,Université de La Réunion,Master MEEF,Sciences humaines et sociales,Sciences humaines et sociales,Sciences de l'éducation,"METIERS DE L'ENSEIGNEMENT, DE L'EDUCATION ET D...",...,A28,cEt92,cEt92,9740478B,master_MEEF,SHS,06,34,2500249,6
9,2023_S2,La Réunion,La Réunion,Université de La Réunion,Université de La Réunion,Master MEEF,Sciences humaines et sociales,Sciences humaines et sociales,Sciences de l'éducation,"METIERS DE L'ENSEIGNEMENT, DE L'EDUCATION ET D...",...,A28,cEt92,cEt92,9740478B,master_MEEF,SHS,06,34,2500248,12

In [9]:
df.tail()

,Diffusion des données,Région,Académie,Établissement,Établissement actuel,Type de diplôme,Domaine disciplinaire,Discipline,Secteur disciplinaire,Libellé du diplôme,...,Code de l'académie,Identifiant interne de l'établissement,Identifiant interne de l'établissement actuel,Code UAI de l'établissement,type_diplome,Code du domaine disciplinaire,Code de la discipline,Code du secteur disciplinaire,Code du diplôme SISE,Mois après la diplomation
45865,2023_S2,Provence-Alpes-Côte d'Azur,Nice,Université Côte d'Azur,Université Côte d'Azur,Licence professionnelle,"Sciences, technologies, santé",Sciences fondamentales et applications,Informatique,METIERS DE L'INFORMATIQUE : SYSTEMES D'INFORMA...,...,A23,s3t8T,s3t8T,0062205P,licence_pro,STS,15,14,2400132,30
45866,2023_S2,Provence-Alpes-Côte d'Azur,Nice,Université Côte d'Azur,Université Côte d'Azur,Licence professionnelle,"Sciences, technologies, santé",Sciences fondamentales et applications,Informatique,"METIERS DE L'INFORMATIQUE : CONCEPTION, DEVELO...",...,A23,s3t8T,s3t8T,0062205P,licence_pro,STS,15,14,2400130,6
45867,2023_S2,Provence-Alpes-Côte d'Azur,Nice,Université Côte d'Azur,Université Côte d'Azur,Licence professionnelle,Sciences humaines et sociales,Sciences humaines et sociales,Sciences de l'information et la communication,METIERS DE L'INFORMATION : METIERS DU JOURNALI...,...,A23,s3t8T,s3t8T,0062205P,licence_pro,SHS,06,35,2400127,18
45868,2023_S2,Provence-Alpes-Côte d'Azur,Nice,Université Côte d'Azur,Université Côte d'Azur,Licence professionnelle,"Droit, économie, gestion","Sciences économiques, gestion",Sciences de gestion,METIERS DE L'IMMOBILIER : GESTION ET DEVELOPPE...,...,A23,s3t8T,s3t8T,0062205P,licence_pro,DEG,02,39,2400114,24
45869,2023_S2,Provence-Alpes-Côte d'Azur,Nice,Université Côte d'Azur,Université Côte d'Azur,Licence professionnelle,"Droit, économie, gestion","Sciences économiques, gestion",Sciences de gestion,METIERS DE L'IMMOBILIER : GESTION ET DEVELOPPE...,...,A23,s3t8T,s3t8T,0062205P,licence_pro,DEG,02,39,2400114,30

In [10]:
print(df.dtypes)

Diffusion des données                                 object
Région                                                object
Académie                                              object
Établissement                                         object
Établissement actuel                                  object
Type de diplôme                                       object
Domaine disciplinaire                                 object
Discipline                                            object
Secteur disciplinaire                                 object
Libellé du diplôme                                    object
Source de données                                     object
Nombre de poursuivants                                object
Nombre de sortants                                    object
Année(s) d'obtention du diplôme prise(s) en compte    object
Date d'insertion en emploi                            object
Flag                                                  object
Exception                                             object
Taux d'emploi salarié en France                       object
Taux d'insertion                                      object
Taux d'emploi                                         object
Code de la région                                     object
Code de l'académie                                    object
Identifiant interne de l'établissement                object
Identifiant interne de l'établissement actuel         object
Code UAI de l'établissement                           object
type_diplome                                          object
Code du domaine disciplinaire                         object
Code de la discipline                                 object
Code du secteur disciplinaire                         object
Code du diplôme SISE                                  object
Mois après la diplomation                              int64
dtype: object

In [11]:
#identification des valeurs manquantes ou nulles 
print(df.isnull().values.any())
print(df.isnull().sum())

True
Diffusion des données                                     0
Région                                                   30
Académie                                                 30
Établissement                                             0
Établissement actuel                                      0
Type de diplôme                                           0
Domaine disciplinaire                                     0
Discipline                                                0
Secteur disciplinaire                                     0
Libellé du diplôme                                        0
Source de données                                         0
Nombre de poursuivants                                    0
Nombre de sortants                                        0
Année(s) d'obtention du diplôme prise(s) en compte        0
Date d'insertion en emploi                                0
Flag                                                  13967
Exception                                             13967
Taux d'emploi salarié en France                           0
Taux d'insertion                                          0
Taux d'emploi                                             0
Code de la région                                        30
Code de l'académie                                       30
Identifiant interne de l'établissement                    0
Identifiant interne de l'établissement actuel             0
Code UAI de l'établissement                               0
type_diplome                                              0
Code du domaine disciplinaire                             0
Code de la discipline                                     0
Code du secteur disciplinaire                             0
Code du diplôme SISE                                      0
Mois après la diplomation                                 0
dtype: int64

In [12]:
#identification du nombre de valeurs distinctes par colonne 
unique_counts = df.nunique()
print(unique_counts)
unique_columns = unique_counts[unique_counts == 1].index
print(unique_columns)

Diffusion des données                                    1
Région                                                  17
Académie                                                29
Établissement                                           70
Établissement actuel                                    70
Type de diplôme                                          3
Domaine disciplinaire                                    5
Discipline                                              15
Secteur disciplinaire                                   49
Libellé du diplôme                                     475
Source de données                                        2
Nombre de poursuivants                                 147
Nombre de sortants                                     451
Année(s) d'obtention du diplôme prise(s) en compte       4
Date d'insertion en emploi                               5
Flag                                                     2
Exception                                                2
Taux d'emploi salarié en France                       1684
Taux d'insertion                                      1460
Taux d'emploi                                         1736
Code de la région                                       17
Code de l'académie                                      29
Identifiant interne de l'établissement                  71
Identifiant interne de l'établissement actuel           70
Code UAI de l'établissement                             77
type_diplome                                             3
Code du domaine disciplinaire                            5
Code de la discipline                                   15
Code du secteur disciplinaire                           49
Code du diplôme SISE                                   474
Mois après la diplomation                                5
dtype: int64
Index(['Diffusion des données'], dtype='object')

In [13]:
unique_columns = unique_counts[unique_counts == 1].index
print(unique_columns)

Index(['Diffusion des données'], dtype='object')

In [14]:
# Calcul du nombre de valeurs distinctes pour chaque colonne
distinct_counts = df.nunique()

print(distinct_counts)

Diffusion des données                                    1
Région                                                  17
Académie                                                29
Établissement                                           70
Établissement actuel                                    70
Type de diplôme                                          3
Domaine disciplinaire                                    5
Discipline                                              15
Secteur disciplinaire                                   49
Libellé du diplôme                                     475
Source de données                                        2
Nombre de poursuivants                                 147
Nombre de sortants                                     451
Année(s) d'obtention du diplôme prise(s) en compte       4
Date d'insertion en emploi                               5
Flag                                                     2
Exception                                                2
Taux d'emploi salarié en France                       1684
Taux d'insertion                                      1460
Taux d'emploi                                         1736
Code de la région                                       17
Code de l'académie                                      29
Identifiant interne de l'établissement                  71
Identifiant interne de l'établissement actuel           70
Code UAI de l'établissement                             77
type_diplome                                             3
Code du domaine disciplinaire                            5
Code de la discipline                                   15
Code du secteur disciplinaire                           49
Code du diplôme SISE                                   474
Mois après la diplomation                                5
dtype: int64

# conclusion de l'application de l'appel de nunique  

## colonne à supprimer et indication à remonter dans streamlit pour présentation liminaire de l'appli :   
'Diffusion de données
'Source de données

## arbiter le sort à donner sur les colonnes :
'etablissement et établissement actuel : supprimer la colonne établissement
Identifiant interne de l'établissement et Identifiant interne de l'établissement actuel     suprrimer le code qui va correspond à la colonne supprimée à la ligne du dessus
## étudier les colonnes qui ont le même nombre d'occurrences et de titres "quasi-similaires"
Domaine disciplinaire et code disciplinaire
Secteur disciplinaire et code du secteur disciplinaire 
région et code de la région 
code discipline et  discipline 19

In [15]:
valeurs_distinctes = df['Domaine disciplinaire'].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")
valeurs_distinctes = df['Code du domaine disciplinaire'].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")

Valeurs distinctes de la colonne : ['Tous domaines disciplinaires' 'Droit, économie, gestion'
 'Sciences humaines et sociales' 'Sciences, technologies, santé'
 'Lettres, langues et arts']
Valeurs distinctes de la colonne : ['all' 'DEG' 'SHS' 'STS' 'LLA']

In [16]:
valeurs_distinctes = df['Secteur disciplinaire'].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")
valeurs_distinctes = df['Code du secteur disciplinaire'].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")

Valeurs distinctes de la colonne : ['Tous secteurs disciplinaires' 'Sciences de gestion'
 "Sciences de l'éducation" 'Aménagement' 'Sciences économiques'
 'Sciences de la vie, biologie, santé'
 "Sciences de l'univers, de la Terre, de l'espace, de la mer" 'STAPS'
 'Pluridisciplinaire sciences fondamentales et applications' 'Chimie'
 'Informatique' 'Mathématiques' 'Sciences du langage, linguistique'
 'Langues et littératures françaises'
 "Sciences de l'information et la communication" 'Géographie'
 'Sciences juridiques'
 'Pluridisciplinaire droit, sciences économiques, AES' 'Génie civil'
 'Mécanique, génie mécanique, ingénierie mécanique'
 'Pluridisciplinaire sciences humaines et sociales'
 'Pluridisciplinaire lettres, langues, sciences humaines'
 'Sciences politiques' 'Histoire' 'Pluridisciplinaire sciences'
 'Langues étrangères appliquées' 'Langues et littératures étrangères'
 'Technologie et sciences industrielles'
 'Électronique, génie électrique, électronique - électrotechnique - automatique'
 'Physique' 'Pluridisciplinaire lettres, sciences du langage, arts'
 'Archéologie, ethnologie, préhistoire, anthropologie'
 'Mathématique et informatique' 'Sociologie, démographie'
 'Philosophie, épistémologie' 'Physique et chimie'
 'Mathématiques appliquées et sciences sociales' 'Arts'
 'Psychologie, sciences cognitives' 'Génie des procédés, matériaux'
 'Pluridisciplinaire sciences économiques et gestion'
 'Administration économique et sociale' 'Français, langue étrangère'
 'Littérature générale et comparée' 'Pharmacie' 'Sciences religieuses'
 'Cultures et langues régionales' 'Théologie catholique'
 'Pluridisciplinaire droit, sciences politiques']
Valeurs distinctes de la colonne : ['all' '39' '34' '29' '38' '06' '05' '10' '68' '03' '14' '01' '17' '19'
 '35' '28' '36' '63' '12' '11' '66' '67' '37' '27' '70' '24' '23' '16'
 '15' '02' '64' '30' '42' '33' '26' '43' '04' '21' '32' '13' '62' '40'
 '22' '20' '09' '31' '25' '50' '61']

In [17]:
valeurs_distinctes = df['Code de la région'].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")
valeurs_distinctes = df['Région'].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")

Valeurs distinctes de la colonne : [nan 'R06' 'R04' 'R03' 'R01' 'R94' 'R11' 'R75' 'R93' 'R76' 'R32' 'R28'
 'R24' 'R52' 'R84' 'R53' 'R27' 'R44']
Valeurs distinctes de la colonne : [nan 'Mayotte' 'La Réunion' 'Guyane' 'Guadeloupe' 'Corse' 'Île-de-France'
 'Nouvelle-Aquitaine' "Provence-Alpes-Côte d'Azur" 'Occitanie'
 'Hauts-de-France' 'Normandie' 'Centre-Val de Loire' 'Pays de la Loire'
 'Auvergne-Rhône-Alpes' 'Bretagne' 'Bourgogne-Franche-Comté' 'Grand Est']

In [18]:
valeurs_distinctes = df['Code de la discipline'].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")
valeurs_distinctes = df['Discipline'].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")

Valeurs distinctes de la colonne : ['all' '02' '06' '09' '10' '15' '04' '01' '31' '32' '33' '05' '03' '13'
 '20']
Valeurs distinctes de la colonne : ['Toutes disciplines' 'Sciences économiques, gestion'
 'Sciences humaines et sociales'
 "Sciences de la vie, de la terre et de l'univers" 'STAPS'
 'Sciences fondamentales et applications'
 'Lettres, sciences du langage, arts' 'Droit, sciences politiques'
 'Pluridisciplinaire droit, sciences économiques, AES'
 'Pluridisciplinaire lettres, langues, sciences humaines'
 'Pluridisciplinaire sciences' 'Langues'
 'Administration économique et sociale' 'Pharmacie' 'Théologie']

In [19]:
valeurs_distinctes = df['Académie'].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")
valeurs_distinctes = df["Code de l'académie"].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")

Valeurs distinctes de la colonne : [nan 'Mayotte' 'La Réunion' 'Guyane' 'Guadeloupe' 'Corse' 'Versailles'
 'Créteil' 'Limoges' 'Poitiers' 'Aix-Marseille' 'Nice' 'Toulouse' 'Amiens'
 'Normandie' 'Paris' 'Orléans-Tours' 'Nantes' 'Lyon' 'Grenoble' 'Rennes'
 'Montpellier' 'Bordeaux' 'Besançon' 'Dijon' 'Strasbourg'
 'Clermont-Ferrand' 'Lille' 'Nancy-Metz' 'Reims']
Valeurs distinctes de la colonne : [nan 'A43' 'A28' 'A33' 'A32' 'A27' 'A25' 'A24' 'A22' 'A13' 'A02' 'A23'
 'A16' 'A20' 'A70' 'A01' 'A18' 'A17' 'A10' 'A08' 'A14' 'A11' 'A04' 'A03'
 'A07' 'A15' 'A06' 'A09' 'A12' 'A19']

In [20]:
# Parcourir chaque ligne et vérifier si les valeurs des colonnes sont différentes
nomination_fac = []
for index, row in df.iterrows():
    if row['Établissement'] != row['Établissement actuel'] and row['Établissement'] and row['Établissement actuel'] not in nomination_fac :
        nomination_fac += [row['Établissement'],row['Établissement actuel']]    
print(nomination_fac)

['Université Panthéon-Assas', 'Université Paris-Panthéon-Assas', 'Université de Nantes', 'Nantes Université', 'Université de Rennes 1', 'Université de Rennes']

In [21]:
# analyse des colonnes des universités : 3 universités uniquement on un détail NS dans l'analyse différant sur 3 établissements : on supprime la colonne etablissement actuel 
df = df.drop(columns=["Établissement actuel"])

#suppression des colonnes relatives au termer etablissement actuel : Identifiant interne de l'établissement actuel
df = df.drop(columns=["Identifiant interne de l'établissement actuel"])

In [22]:
# Identification des lignes qui sont renseignées à moins de la moitié des champs 

count_non_na = df.notna().sum(axis=1) # Calculer le nombre de champs renseignés par ligne
half_columns = df.shape[1] / 2 # Déterminer la moitié du nombre total de colonnes

# Identifier les lignes où moins de la moitié des champs sont renseignés
rows_less_than_half_filled = df[count_non_na < half_columns]

print("Lignes avec moins de la moitié des champs renseignés :")
idprint(rows_less_than_half_filled)

Lignes avec moins de la moitié des champs renseignés :

NameError: name 'idprint' is not defined

In [ ]:
date_ancienne = df["Année(s) d'obtention du diplôme prise(s) en compte"].min()
date_recente = df["Année(s) d'obtention du diplôme prise(s) en compte"].max()
print(date_ancienne)
print(date_recente)

valeurs_distinctes = df["Année(s) d'obtention du diplôme prise(s) en compte"].unique()
print(f"Valeurs distinctes de la colonne : {valeurs_distinctes}")

In [ ]:
# Identifier les colonnes disposant d'au moins une valeur manquante :
for i in df.columns:
    null_rate = df[i].isna().sum() / len(df) * 100
    if null_rate > 0 :
        print("{} null rate: {}%".format(i,round(null_rate,2)))

## Nettoyage des données 
1. lignes vides
2. colonnes vides
3. colonnes redondantes
4.

In [ ]:
#suppression de la colonne à vlaueur unique Diffusion des données pour laquelle la seule valeur est 2023 S2
df = df.drop(columns=["Diffusion des données"])
#suppression de la colonne à vlaueur unique Diffusion des données pour laquelle la seule valeur est 2023 S2
print(df)

In [ ]:
#suppression de la colonne à vlaueur unique Diffusion des données pour laquelle la seule valeur est 2023 S2
df = df.drop(columns=["Diffusion des données"])

In [ ]:
# Suppression des lignes ou les valeurs sont nulles sur la colonne "code de la région"
df = df.dropna(subset=['Code de la région'])
print(df)

In [ ]:
# Traitement des colonnes 14  Flag (31903 valeurs) et 15  Exception (31903 valeurs) les renseignements sont correlés  valeurs de flags en étoile et indiquent  
# Compter les occurrences de la valeur '**' dans la colonne "Flag" ** = "moins de 20 sortants donc cumul de 2 promos mais impossible
occurrences = df['Flag'].value_counts().get('**', 0)
print(f"Nombre d'occurrences de la valeur '**' dans la colonne 'Flag' : {occurrences}")

# Compter les occurrences de la valeur '*' dans la colonne "Flag" * = "moins de 20 sortants donc cumul de 2 promos

occurrences = df['Flag'].value_counts().get('*', 0)
print(f"Nombre d'occurrences de la valeur '*' dans la colonne 'Flag' : {occurrences}")

In [ ]:
# Filtrer les lignes où "Source de données" est "IP"
df_ip = df.loc[df['Source de données'] == 'IP']
# Calcul du nombre de valeurs distinctes pour chaque colonne
distinct_counts = df_ip.nunique()

print(distinct_counts)
df_ip.head()
df_ip.info()

In [ ]:
#conclusion du df_ip : 
#1. on supprime les lignes ou source de données = IP
df = df[df['Source de données'] != 'IP']
#2 on ne garde que les sources de données = INSERSUP et donc on supprime la colonne source de données 
#suppression de la colonne à valeur unique Source de données pour laquelle la seule valeur  restante est Insersup
df = df.drop(columns=["Source de données"])
print(df)

In [23]:
#l'analyse ne portera que sur les master LMD et donc on supprime toutes les lignes ne correspondant pas à la valeur MASTER LM dans la colonne Type de diplômes
#1 suppression de lignes où Type de diplôme n'et pas Master LMD
df = df[df['Type de diplôme'] == 'Master LMD']
#2 on supprime la colonne Type de données 

df = df.drop(columns=["Type de diplôme"])
print(df)

      Diffusion des données                      Région    Académie  \
1                   2023_S2                         NaN         NaN
3                   2023_S2                         NaN         NaN
6                   2023_S2                  La Réunion  La Réunion
11                  2023_S2                  La Réunion  La Réunion
12                  2023_S2                  La Réunion  La Réunion
...                     ...                         ...         ...
45850               2023_S2  Provence-Alpes-Côte d'Azur        Nice
45851               2023_S2  Provence-Alpes-Côte d'Azur        Nice
45852               2023_S2  Provence-Alpes-Côte d'Azur        Nice
45853               2023_S2  Provence-Alpes-Côte d'Azur        Nice
45854               2023_S2  Provence-Alpes-Côte d'Azur        Nice

                  Établissement          Domaine disciplinaire  \
1                      National   Tous domaines disciplinaires
3                      National   Tous domaines disciplinaires
6      Université de La Réunion   Tous domaines disciplinaires
11     Université de La Réunion  Sciences humaines et sociales
12     Université de La Réunion       Droit, économie, gestion
...                         ...                            ...
45850    Université Côte d'Azur       Droit, économie, gestion
45851    Université Côte d'Azur       Droit, économie, gestion
45852    Université Côte d'Azur       Droit, économie, gestion
45853    Université Côte d'Azur       Droit, économie, gestion
45854    Université Côte d'Azur       Droit, économie, gestion

                                              Discipline  \
1                                     Toutes disciplines
3                                     Toutes disciplines
6                                     Toutes disciplines
11                         Sciences humaines et sociales
12                         Sciences économiques, gestion
...                                                  ...
45850                      Sciences économiques, gestion
45851                      Sciences économiques, gestion
45852  Pluridisciplinaire droit, sciences économiques...
45853  Pluridisciplinaire droit, sciences économiques...
45854  Pluridisciplinaire droit, sciences économiques...

                                   Secteur disciplinaire  \
1                           Tous secteurs disciplinaires
3                           Tous secteurs disciplinaires
6                           Tous secteurs disciplinaires
11                                           Aménagement
12                                  Sciences économiques
...                                                  ...
45850                               Sciences économiques
45851                               Sciences économiques
45852  Pluridisciplinaire droit, sciences économiques...
45853  Pluridisciplinaire droit, sciences économiques...
45854  Pluridisciplinaire droit, sciences économiques...

                        Libellé du diplôme Source de données  \
1                          Tout Master LMD          insersup
3                          Tout Master LMD          insersup
6                          Tout Master LMD          insersup
11         VILLE ET ENVIRONNEMENTS URBAINS          insersup
12                                TOURISME          insersup
...                                    ...               ...
45850                             ECONOMIE          insersup
45851                             ECONOMIE          insersup
45852  MONNAIE, BANQUE, FINANCE, ASSURANCE          insersup
45853  MONNAIE, BANQUE, FINANCE, ASSURANCE          insersup
45854  MONNAIE, BANQUE, FINANCE, ASSURANCE          insersup

      Nombre de poursuivants  ... Code de la région Code de l'académie  \
1                          -  ...               NaN                NaN
3                          -  ...               NaN                NaN
6                          -  ...               R04                A28
11                         5  ...               R04                A28
12                         2  ...               R04                A28
...                      ...  ...               ...                ...
45850                      0  ...               R93                A23
45851                      0  ...               R93                A23
45852                      1  ...               R93                A23
45853                      1  ...               R93                A23
45854                      1  ...               R93                A23

      Identifiant interne de l'établissement Code UAI de l'établissement  \
1                                       UNIV                        UNIV
3                                       UNIV                        UNIV
6                                      cEt92                    9740478B
11                                     cEt92                    9740478B
12                                     cEt92                    9740478B
...                                      ...                         ...
45850                                  s3t8T                    0062205P
45851                                  s3t8T                    0062205P
45852                                  s3t8T                    0062205P
45853                                  s3t8T                    0062205P
45854                                  s3t8T                    0062205P

      type_diplome Code du domaine disciplinaire Code de la discipline  \
1       master_LMD                           all                   all
3       master_LMD                           all                   all
6       master_LMD                           all                   all
11      master_LMD                           SHS                    06
12      master_LMD                           DEG                    02
...            ...                           ...                   ...
45850   master_LMD                           DEG                    02
45851   master_LMD                           DEG                    02
45852   master_LMD                           DEG                    31
45853   master_LMD                           DEG                    31
45854   master_LMD                           DEG                    31

      Code du secteur disciplinaire Code du diplôme SISE  \
1                               all                  all
3                               all                  all
6                               all                  all
11                               29              2500247
12                               38              2500245
...                             ...                  ...
45850                            38              2500004
45851                            38              2500004
45852                            63              2500002
45853                            63              2500002
45854                            63              2500002

      Mois après la diplomation
1                             6
3                            18
6                             6
11                           24
12                           30
...                         ...
45850                         6
45851                        12
45852                         6
45853                        18
45854                        30

[25972 rows x 28 columns]

In [ ]:
## LIEN API SUR L'AUTRE JEU DE DONNEES /  https://data.enseignementsup-recherche.gouv.fr/api/explore/v2.1/catalog/datasets/fr-esr-insertion_professionnelle-master/records?limit=20